/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2019, 9:26:53 PM
    Author     : User
*/

/* Bordered form */

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.labelHolder{
    width:100%;
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
}

html, body {
    height:100%;
}

html {
    display:table;
    width:100%;
}

body {
    text-align:center;
    margin-left:auto;
    margin-right:auto;

}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 15px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 12px 0 12px 0;
}

.rememberMeLabel{
    margin-top: 10px;

}
/* Avatar image */
img.avatar {
    width: 40%;
    height:auto;
}

/* Add padding to containers */
.container {

    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {

    img.avatar {
        height:50%;
        width: 50%;
    }

    span.psw {
        display: block;
        float: none;
    }

    .content{
       
        min-width: 80%;

    }

} 

